
/** Administration Keys */
yahoo-fantasy-admin-keys { display: block; width: 95%; }
yahoo-fantasy-admin-keys label.strong { font-weight: bold; }
yahoo-fantasy-admin-keys input[type="text"] { display: block; width: 100%; }

