/*******************************************************************************
 *
 * Fantasy Sports Public Styles
 * 
 * Contents:
 * 
 * 1. Common styles
 * 2. Game resource styles
 * 3. League resource styles
 * 4. Matchup resource styles
 * 5. Standings resource styles
 *
 ******************************************************************************/

/*
 * 1. Common Styles
 */

.fantasy-sports {
    display: block;
    position:relative;
    width: 100%;
    clear: both;
}

.fantasy-sports span.game-name {
    display: inline-block;
    width: 100%;
    color: #000;
    border-bottom: 2px solid #0078FF;
    margin-bottom: 10px;
    padding: 2px 0px;
    text-transform: uppercase;
    font-weight: 400;
}

.fantasy-sports ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fantasy-sports ul li {
    list-style-type: circle;
    list-style-position: inside;
}

.fantasy-sports ul li span {
    padding: 0px 10px 0px 0px;
}

.fantasy-sports table tr.users-team {
    background-color: rgba(0,0,0,0.1);
}

.fantasy-sports table thead td,
.fantasy-sports table thead th {
    font-weight: 400;
}

.fantasy-sports table tbody td {
    padding: 0px 8px;
}

.fantasy-sports .title {
    font-size: 1.1em;
    font-weight: 400;
}

.yahoo-fantasy.container {
    width: 100%;
}

.yahoo-fantasy .yahoo-team.row,
.yahoo-fantasy .yahoo-team.league,
.yahoo-fantasy .yahoo-team.standing {
    margin: 16px 0px 8px 0px;
}

.team-logo {
    text-align: center;
}

.team-logo img {
    min-width: 50px;
    max-width: 75px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .yahoo-league {
        width:100%;
    }
    
    .yahoo-fantasy table thead {
        display: none;
    }
    
    .yahoo-fantasy table tr:nth-of-type(2n) {
        background-color: inherit;
    }
    
    .yahoo-fantasy table tr td:first-child {
        font-weight:400;
        font-size:1.1em;
    }
    
    .yahoo-fantasy table tbody td {
        display: block;  
        text-align:center;
    }
    
    .yahoo-fantasy table tbody td:before { 
        content: attr(data-th); 
        display: block;
        text-align:center;  
     }
}

/*
 * 2. Game Resource styles
 * Game resources styles contain the wrapper for the game details and any 
 * custom table functions.
 */

.yahoo-game {
    margin-top: 15px;
}

/*
 * 3. League Resource styles
 * Provides styles for Yahoo League specific section.  Some of the specific
 * styles set the title, the margins and the table customizations.
 */

.yahoo-league {
    margin-top: 15px;
}

.yahoo-league .game-code {
    display: none;
}

.yahoo-league table tr.position-1 {
    border-left: 5px solid #ffd700;
}

.yahoo-league table tr.position-2 {
    border-left: 5px solid #c0c0c0;    
}

.yahoo-league table tr.position-3 {
    border-left: 5px solid #b37700;
}

/*
 * 4. Team Resource Styles
 */
.league-name.title {
    text-align: center;
    width: 100%;
    display: block;
    color: #FFF;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 0px;
}
    
.team-matchup {
    margin: 8px;
}

.team-score .total-points,
.team-info .team-name{
    font-weight: bold;
    font-size: 1.1em;
}

.team.player div.team-logo {
    order: 3;
}

.team.player div.team-score {
    order: 2;
}

.team div.team-score {
    text-align: center;
}

.team div.team-score span {
    display: block;
}

.team.player div.team-info {
    text-align: right;
    order: 1;
}

.team-info span {
    display: block;
}

@media (max-width: 768px) {
    .team.player div.team-logo {
        order: 1;
    }

    .team.player div.team-score {
        order: 2;
    }

    .team.player div.team-info {
        text-align: left;
        order: 3;
    }  
}