<div>
    <h2>{{vm.title}}</h2>
    <p>
        <label class="strong" for="resource-selector">Resource:</label>
        <select ng-model="vm.selectedResource"
                id="resource-selector"
                name="resource-selector"
                ng-options="item as item.label for item in vm.resourceList"> 
        </select>
    </p>
    <p>
        <label class="strong" for="shortcode-text">Short code:</label>
        <input id="shortcode-test"
               name="shortcode-test"
               ng-model="vm.shortcode"
               type="text" disabled />
    </p>
    <p>
        <label class="strong" for="season">Seasons:</label>
        <input id="season" 
               name="season"
               ng-model="vm.seasons"
               type="text"/>
        <span class="subscript">
           Seasons should be a comma separated list of years. 
        </span>
    </p>
    <div id="shortcode-container">
        
    </div>
</div>