
/**
 * All of the CSS for the Administration About page.
 */
.wrap.about ul {
    list-style: disc;
    padding: 5px 20px;
}

/**
 * All of the CSS for your Administration option pages.
 */

input[type="text"] {
    width: 100%;
}

.option-field span {
    display: block;
    margin: 5px 0px;
}