
/** Administration Styles */
/**************************/

.yahoo-fantasy-sports ul {
    list-style: disc !important;
    padding-left: 16px;
}

.yahoo-fantasy-sports ul li ul {
    list-style: none !important;
}

input[type="text"] {
    width: 100%;
}

.option-field span {
    display: block;
    margin: 5px 0px;
}